In [1]:
a=[1,2,3,4,5]

for p in a:
    print(p)

1
2
3
4
5

In [2]:
list_tohoku = [5349, 5478, 5344, 4644, 4968, 6259]
for val in list_tohoku:
    print(val)

5349
5478
5344
4644
4968
6259

In [3]:
s=0

for x in a:
    s = s + x

s

15

In [4]:
a

[1, 2, 3, 4, 5]

In [5]:
s=0

for x in a:
    s = s + x
    
    
s/len(a)

3.0

In [13]:
avg_tohoku = 0.0
for val in list_tohoku:
    avg_tohoku += val
avg_tohoku /= len(list_tohoku)
print(avg_tohoku)

5340.333333333333

In [15]:
list_shikoku = [3148, 2991, 2966, 2457]

In [17]:
(3148+2991+2966+2457)/4

2890.5

In [16]:
[3148, 2991, 2966, 2457]/5

TypeError: unsupported operand type(s) for /: 'list' and 'int'

In [23]:
list_shikoku = [3148, 2991, 2966, 2457] 

avg_shikoku = 0
for x in list_shikoku:
    avg_shikoku  += x
    
    
avg_shikoku /=len(list_shikoku)
print(avg_shikoku)

2890.5

In [26]:
mean([1,2,3,4,5])

NameError: name 'mean' is not defined

In [27]:
dic = {'A':100,'B':20,'C':3000}

In [28]:
dic['A']

100

In [29]:
for key in dic:
    print(key)

A
B
C

In [32]:
dict_tohoku = {'aomori': 5349, 'akita': 4644, 'sendai': 5344,
'Yamagata': 4968, 'fukushima': 6259, 'morioka': 5478}
for key in dict_tohoku:
  print(key)

aomori
akita
sendai
Yamagata
fukushima
morioka

In [33]:
s=0

for x in dict_tohoku:
    print(dict_tohoku[x])
    s += dict_tohoku[x]
    
s/len(dict_tohoku)

5349
4644
5344
4968
6259
5478

5340.333333333333

In [38]:
mean(dict_tohoku.values())

NameError: name 'mean' is not defined